@model OMSys.Models.StepResult

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StepResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StepId" class="control-label"></label>
                <select asp-for="StepId" class ="form-control" asp-items="ViewBag.StepId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ResultOption" class="control-label"></label>
                <input asp-for="ResultOption" class="form-control" />
                <span asp-validation-for="ResultOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextStepId" class="control-label"></label>
                <select asp-for="NextStepId" class ="form-control" asp-items="ViewBag.NextStepId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SolutionId" class="control-label"></label>
                <select asp-for="SolutionId" class ="form-control" asp-items="ViewBag.SolutionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
